:root {
  --background: #ffffff;
  --color1: #040c10;
  --color2: #846c5b;
  --color3: #7645e7;

}

/* ///////////////////////////////////GENERALES ///////////////////////////////////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.App {
  background-color: var(--background);
  color: var(--color1);
}

.container {
  width: 90%;
}

input {
  color: inherit;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 2px;
  padding-right: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--color3);
}

button {
  border: 1px solid var(--color3);
  color: whitesmoke;
  background-color: transparent;
  font-size: 1rem;
  padding: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0.5rem;
}

button:hover {
  transition: all 200ms;
  background-color: var(--color3);
  color: var(--background);
}

p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Navbar  */

.nav-bar {
  width: 100%;
  position: fixed;
  background-color: var(--background);
  opacity: 0.9;
  z-index: 499;
  pointer-events: all;
}

.nav-container {
  width: 90%;
  margin: 1rem auto auto auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-bar .logo {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  width: 50%;
}

.nav-bar ul {
  display: flex;
  width: 30%;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.nav-bar li {
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
}

.nav-bar li:hover {
  transition: ease-out 100ms;
  color: var(--color3);
  border-bottom: 1px solid var(--color3);
}

.banner {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url(./Assets/2.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-text {
  /*font-family: "Antic Slab", serif;*/
  font-family: "Overlock", cursive;
  font-size: 3rem;
  color: var(--background);
  margin: auto;
  text-align: center;
}
/* /////////////////////////////////// modal Login ///////////////////////////////////////////// */

.modal {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
  z-index: 599;
}

.modal .Login-modal {
  position: absolute;
  width: 60%;
  margin: auto;
  top: 10%;
  left: 20%;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: all;
  color: whitesmoke;
}

.modal form {
  margin: 2rem auto 2rem auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

#LoginbuttonClose {
  font-weight: bolder;
  padding: 1rem;
  float: right;
  z-index: 500;
  cursor: pointer;
}
/* /////////////////////////////////// Search button ///////////////////////////////////////////// */

.search-bar {
  pointer-events: none;
}

.search-bar-open {
  width: 100%;
  transition: ease-in all 200ms;
  background-color: var(--background);
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.search-bar-closed {
  transition: ease-out all 400ms;
  height: 1rem;
}

.search-bar .container-open {
  transition: 400ms;
  width: 50%;
  margin: auto;
 
}

.search-bar .container-closed {
  display: flex;
  transition: ease-out 0ms;
  transform: translate(0px, -10px);
  width: 50%;
  margin: auto;
  opacity: 0;
 
}

.search-bar input {
  width: 80%;
  font-size: 1.5rem;
}

.search-button {
  color: var(--color1);
}

/* /////////////////////////////////// CART ///////////////////////////////////////////// */

.cart-open {
  transition: ease-in all 400ms;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 70%;
  width: 30%;
  height: 100%;
  pointer-events: all;
  color: var(--background);
  display: flex;
  z-index: 500;
}
.cart-closed {
  transition: ease-out all 400ms;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 100%;
  width: 30%;
  height: 100%;
  pointer-events: all;
  z-index: 500;
}

.cart-container {
  margin: auto;
  margin-top: 2rem;
  width: 90%;
  display: flex;
  flex-direction: column;
}

#cart-close-button {
  float: right;
  padding: 1rem;
}
.cart-open .title {
  font-size: 2rem;
}

/* /////////////////////////////////// PRODUCTS CONTAINER ///////////////////////////////////////////// */

.products-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#mini-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15vh;
  background-color: var(--color2);
  text-align: center;
}

#mini-banner:hover {
  transition: all 200ms;
  opacity: 0.65;
}

.img-category {
  position: relative;
}

.text-block {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background);
  color: var(--color1);
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-block:hover {
  opacity: 0.55;
}

.products-category img {
  width: 100%;
  height: 80vh;
  object-position: center;
  object-fit: cover;
}

/* /////////////////////////////////// PRODUCTS GRID ///////////////////////////////////////////// */

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin: 40px;
}

.card {
  max-height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.card:hover {
  opacity: 0.65;
}

#view-item {
  transition: ease-in 200ms;
  opacity: 0;
}

.card:hover #view-item {
  transition: ease-in 200ms;
  opacity: 1;
}

.card .card-img {
  height: 300px;
  width: 200px;
  object-fit: contain;
  object-position: center;
  display: block;
  margin: auto;
}
/* /////////////////////////////////// PRODUCTS DETAIL///////////////////////////////////////////// */

.product-detail {
  padding-top: 20vh;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;

}

.product-detail .img-container {
  width: 50%;
  margin: auto;
}

.detail-img {
  display: block;
  margin: auto;
  width: 50%;
}

.detail-body {
  padding: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.detail-price {
  color: var(--color3);
}

.detail-button {
  color: var(--color1);
  width: 30%;
}

/*  ------------ FOOTER ---------------  */
.footer {
  background-color: var(--color1);
  color: var(--color3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  padding: 2rem 0;
}

.footer li {
  cursor: pointer;
  list-style: none;
}
