:root {
  --background: #f5f5f5;
  --color1: #040c10;
  --color2: #846c5b;
  --color3: #197278;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: var(--background);
  color: var(--color1);
  font-family: "Amiri", serif;
}

.container {
  width: 90%;
}

.nav-bar {
  height: 10vh;
  width: 100%;
  position: fixed;

  background-color: var(--background);
}
.nav-container {
  width: 90%;
  margin: auto;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-bar .logo {
  display: block;
  width: 50%;
}

.banner {
  height: 100vh;
  width: 100%;
  background-image: url(./Assets/2.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-text {
  font-family: "Antic Slab", serif;
  font-size: 3rem;
  color: var(--background);
  padding-top: 40vh;
  margin: auto;
  text-align: center;
}

/*//////PRODUCT GRID//////*/

.products-container {
  display: grid;
  border: 1px black solid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 2em;
}

.card {
  width: 250px;
  border: 1px red solid;
  text-align: center;
}
